.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 385px;
}

.label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
}

.form__input {
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  height: 60px;
  margin-bottom: 32px;
  box-sizing: border-box;
}

.form__button {
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  height: 60px;
  color: white;
  background-color: #2f80ed;
  margin-bottom: 32px;
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 120px;
}
